<div class="p-card auth-card p-4">
  <h2 class="mb-4">Register</h2>
  <form (ngSubmit)="submit()" class="p-fluid">
    <div class="p-field mb-3">
      <label for="username" class="mb-2 d-block">Username</label>
      <input id="username" pInputText [(ngModel)]="username" name="username" required />
    </div>

    <div class="p-field mb-3">
      <label for="password" class="mb-2 d-block">Password</label>
      <input id="password" type="password" pInputText [(ngModel)]="password" name="password" required />
    </div>

    <button pButton type="submit" label="Register" class="mt-3 mb-3"></button>
    <p *ngIf="error" class="error-message text-danger mb-2">{{ error }}</p>
  </form>

  <p class="mt-3">Already have an account? <a routerLink="/login">Login</a></p>
</div>
